{% extends "base.html" %} {% block content %}
<article id="article">
  <header><h1>{{ config.title }}</h1></header>
  <div class="article-body">{{ section.content | safe }}</div>
  <ul class="post-list">
    {% set essays = get_section(path="essays/_index.md") %} {% for page in
    essays.pages[:10] %}
    <li>
      <a href="{{ page.permalink }}">{{ page.title }}</a>
      <span class="post-meta">
        {% if page.date %}<time datetime="{{ page.date }}"
          >{{ page.date | date(format="%-d %B %Y") }}</time
        >{% endif %}
      </span>
      {% if page.description %}<span class="post-desc"
        >{{ page.description }}</span
      >{% endif %}
    </li>
    {% endfor %}
  </ul>
</article>
{% endblock content %}
