{% extends "base.html" %} {% block title %}{{ term.name }} · {{ config.title
}}{% endblock title %} {% block content %}
<article id="article">
  <header><h1>{{ term.name }}</h1></header>
  <ul class="post-list">
    {% for page in term.pages %} {% if not page.extra.unlisted %}
    <li>
      <a href="{{ page.permalink }}">{{ page.title }}</a>
      <span class="post-meta">
        {% if page.date %}<time datetime="{{ page.date }}"
          >{{ page.date | date(format="%-d %B %Y") }}</time
        >{% endif %}
      </span>
    </li>
    {% endif %} {% endfor %}
  </ul>
</article>
{% endblock content %}
